$color-background:#fafafa;
$color-white: #fff;
$color-red: #ed4956;
$color-grey: #8e8e8e;
$color-black:#262626;
$color-blue:#0195f6;
$color-another-grey: #aaaaaa;

$typography-h6: 14px;

$size-width: 620px;
$size-height:900px;