@import "/src/style/theme";
.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $color-background;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}
